.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    visibility: visible; /* make the notification visible */
    opacity: 1; /* set the opacity to 1 */
    transition: visibility 0s linear, opacity 0.3s linear;
}

.notification p {
    margin: 0;
}