.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
}

.login__title {
  font-size: 1.8rem;
  font-weight: bolder;
  margin-right: auto;
  margin-bottom: 2rem;
}

.login__input {
  width: 100%;
  margin-bottom: 20px;
}

.login__inputField {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  font-size: 1.2rem;
}

.login__button {
  background-color: #f9f1df;
  color: #2e2c2c;
  font-size: 1rem;
  border: none;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 1px 8px 4px 1px #efefef;
  padding: 15px 60px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 20px;
}

.login__button:hover {
  background-color: #3b8fd9;
  color: #fff;
}

.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}


.login__button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.login__button:disabled:hover {
  background-color: #ccc;
  color: #666;
}
